.home-button,
.home-button:link,
.home-button:visited,
.home-button:hover {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: darkcyan;
  padding: 1rem;
}
.test {
  color: violet;
}
.background {
  background-color: lightgray;
}
.box {
  background-color: white;
  margin: 0px;
}